@import "base/fuentes";
@import "base/colores";
@import "base/mixins";

/* General */
body {
    font-family: $poppins;
    
    h1, h2, h3 {
        font-family: $satisfy;
      }
    
    ul {
        list-style: none;
    }
    
    a {
        text-decoration: none;
    }
    
    .point {
        color: $principal;
    }

    .flecha {
        font-size: 3rem;
        -webkit-animation: shake-vertical 2s cubic-bezier(0.455, 0.030, 0.515, 0.955) infinite both;
                animation: shake-vertical 2s cubic-bezier(0.455, 0.030, 0.515, 0.955) infinite both;
    }
    
     @-webkit-keyframes shake-vertical {
        0%,
        100% {
          -webkit-transform: translateY(0);
                  transform: translateY(0);
        }
        10%,
        30%,
        50%,
        70% {
          -webkit-transform: translateY(-8px);
                  transform: translateY(-8px);
        }
        20%,
        40%,
        60% {
          -webkit-transform: translateY(8px);
                  transform: translateY(8px);
        }
        80% {
          -webkit-transform: translateY(6.4px);
                  transform: translateY(6.4px);
        }
        90% {
          -webkit-transform: translateY(-6.4px);
                  transform: translateY(-6.4px);
        }
      }
      @keyframes shake-vertical {
        0%,
        100% {
          -webkit-transform: translateY(0);
                  transform: translateY(0);
        }
        10%,
        30%,
        50%,
        70% {
          -webkit-transform: translateY(-8px);
                  transform: translateY(-8px);
        }
        20%,
        40%,
        60% {
          -webkit-transform: translateY(8px);
                  transform: translateY(8px);
        }
        80% {
          -webkit-transform: translateY(6.4px);
                  transform: translateY(6.4px);
        }
        90% {
          -webkit-transform: translateY(-6.4px);
                  transform: translateY(-6.4px);
        }
      }
}

/* Navbar */
.myNav {
    box-shadow: 1px 10px 14px -2px rgba(0,0,0,0.69);
    -webkit-box-shadow: 1px 10px 14px -2px rgba(0,0,0,0.69);
    -moz-box-shadow: 1px 10px 14px -2px rgba(0,0,0,0.69);
    
    .subrayado {
        text-decoration: underline 2px solid $principal;
        text-underline-offset: 9px;
    }
}

/* Página Principal */
/* Hero */
#hero { 
    background-image: linear-gradient(rgba(5,7,12, 0.40), rgba(5,7,12, 0.40)) , url(../images/slide-1.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    min-height: 100vh;

    .main-title {
        @include titulos (3.75rem, 600, 5rem, $blanco)
    }
}

/* Sección info */
#about {
    width: 100%;
    background-color: $gris-bg;
}

.subtitle {
    padding: 10px 0; 
    @include titulos (2rem, null, 2rem , null)
}

.paragraph {
    text-align: justify;
    font-size: 1.1rem;
    margin-bottom: 30px;
}

/* Sección por qué */
#elegirnos {

    .box {
    padding: 50px 30px;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
    transition: all ease-in-out 0.3s;
    height: 100%;
    
        span {
        display: block;
        font-size: 1.75rem;
        font-weight: 700;
        color: $principal;
        }

        h3 {
        font-size: 1.5rem;
        font-weight: 600;
        padding: 0;
        margin: 20px 0;
        color: #6c665c;
        }

        p {
        color: #aaaaaa;
        font-size: 1rem;
        margin: 0;
        padding: 0;
        }
    }

    .box:hover {
    background: $principal;
    padding: 30px 30px 70px 30px;
    box-shadow: 10px 15px 30px rgba(0, 0, 0, 0.18);
        
        span, h3, p {
        color: $blanco;
        }
    }
}

/* Banner Intermedio */
#banner {
    width: 100%;
    height: auto;
    text-align: center;
    padding: 25px 0;
    background-image: linear-gradient(rgba(5,7,12, 0.60), rgba(5,7,12, 0.60)) , url(../images/slide-2.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
   
    p {
    font-size: 1.3rem;
    font-weight: 500;
    color: $blanco;
    line-height: 50px ;
    font-family: $satisfy;
    }
}

/* Sección sugerencias */
#sugerencias {
    .card {
        box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
        transition: all 0.3s;
    
        img {
        height: 300px;
        object-fit: cover;
        }
    }

    .card:hover {
        box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.8);
        transform: translateY(-3%);
    }
}

/* Sección testimonios */
#testimonios {
    background-image: linear-gradient(rgba(5,7,12, 0.50), rgba(5,7,12, 0.50)) , url(../images/testimonials-bg.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    
    .imgTestimonio {
        width: 100px;
        height: 100px;
        margin: auto;
        border: 2px solid $blanco;
        border-radius: 50%;
        margin-bottom: 10px;
    
    }

    .stars {
        margin-bottom: 10px;
        
        i {
        color: gold;
        }
    }
}

/* Footer */
#footer {

    .footerItems{

        a {
        font-size: 1.3rem;
        padding: 10px;
        color: $blanco;
        }  

        a:hover {
        opacity: 0.8;
        }
    }
}

/* PÁGINA MENÚ */
/* Sección Menú */
#menu {
    width: 100%;
    
    .menuBg {
        background-color: $gris-bg ;
    }
    
    .imgMenu {
        width: 100%;
        height: 250px;
        object-fit: cover;
    }
    
    .subtitleMenu {
        border-top: 1px $principal dashed;
        border-bottom: 1px $principal dashed;
        padding: 0.5rem;
        font-size: 1.2rem;
    }
}

/* PÁGINA GALERIA */
/* Gallery */
#gallery {
    width: 100%;
    padding: 30px 0;
    
    .grid-img {
        height: 300px;
        max-width: 100%;
        padding: 10px;
        object-fit: cover;
        transition: all 400ms ease;
    }
    
    .grid-img:hover {
        filter: opacity(0.9);
        transform: scale(1.04);
    }
}

/* PÁGINA RESERVAS */
#reserva {
    padding: 3rem;
    width: 100%;

    .myForm {
        max-width: 1000px;
        margin: 0 auto;
        border: $principal 1px solid ;  
    }
}

/* PÁGINA SOBREN NOSOTROS */
/* Sobre nosotros */
#nosotros {
    
    .textNosotros {
        font-family: "Satisfy", sans-serif;
    }

    .nosotrosBox {
        background-color: $gris-bg;

        .imgNosotros {
            width: 100%;
            height: 60vh;
            object-fit: cover;
        }
    }
}

/* PÁGINA CONTACTO */
#contacto {
    padding: 3rem;
    
    .contactForm {
        max-width: 1000px;
        margin: 0 auto;
        border: $principal 1px solid ;  
    }
}
